#Cart-main {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Product-holder {
    margin: 10px;
    padding: 20px;
    padding-bottom: 30px;
    height: 85%;
    background-color: #ffffff;
    border: 1px solid black;
}

/* checkout */
.CheckoutHolder {
    font-size: 20px;
    margin: 20px;
    background-color: rgb(255, 255, 255);

    display: flex;
}

.CheckoutHolder ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    margin-bottom: 10px;
    border: none;
}

.CheckoutHolder li {
    margin: 10px;
}

.Products {
    font-size: 20px;
    margin: 20px;
    background-color: rgb(255, 255, 255);
    border-bottom: black 2px solid;
   
    /*display: flex;*/
}

/******************/
.Products ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;

}

.Products li {
    list-style: none;
    margin-bottom: 10px;
    justify-items: center;
    column-gap: 10px;

}

.Amount {
    background-color: #D9D9D9;
    width: max-content;
    height: max-content;
    padding: 5px 20px 5px 20px;
    border-radius: 7px;
    cursor: pointer;
}

.Delete {
    color: red;
    text-decoration: underline red;
    cursor: pointer;
}

#total {
    display: flex;
    float: right;
}

.Products li:nth-last-child(-n+4) {
    align-self: center;
}

@media only screen and (max-width: 688px) {

    .Products {
        font-size: 13px;
        margin: 20px;
        background-color: rgb(255, 255, 255);
        border-bottom: black 2px solid;
        display: flex;
        flex-direction: row;
    }

    .Products ul li {
        display: flex;
        flex-direction: row;
        column-gap: 15px;
    }

    #TotalHolder {
        font-size: 20px;
        margin: 20px;
        background-color: rgb(255, 255, 255);
        border-bottom: black 2px solid;
        display: flex;
    }
}

@media only screen and (max-width: 550px) {
    #Product-holder {
        padding: 20px;
        padding-bottom: 30px;
        height: 85%;
        background-color: #ffffff;
        border-bottom: solid 1px black;
    }

    .Products ul {
        justify-content: center;
        vertical-align: middle;
        font-size: 20px;
        margin: 20px;
        background-color: rgb(255, 255, 255);
        border-bottom: black 2px solid;
        display: flex;
        flex-direction: row;
    }

}

.min {
    background-color: white;
    border: none;
}

.plus {
    border: none;
}

#Checkout {
    background-color: #25B94E;
    color: #ffffff;
    text-align: center;
    justify-content: center;
    padding: 5px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 20px;
    width: min-content;
    text-decoration: none;
}

#Betaal:hover {}

#total {
    list-style-type: none;
}