#Cart-main {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Product-holder {
    padding: 20px;
    padding-bottom: 30px;
    width: 90%;
    height: 85%;
    background-color: #ffffff;
}

.Products {
    font-size: 20px;
    margin: 20px;
    background-color: rgb(255, 255, 255);
    border-bottom: black 2px solid;
    display: flex;
}

.Products ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;

}

.Products li {
    list-style: none;
    margin-bottom: 10px;

}

.Amount {
    background-color: #D9D9D9;
    width: max-content;
    height: max-content;
    padding: 5px 20px 5px 20px;
    border-radius: 7px;
    cursor: pointer;
}

.Delete {
    color: red;
    text-decoration: underline red;
    cursor: pointer;
}

.Products li:nth-last-child(-n+4) {
    align-self: center;
}

@media only screen and (max-width: 620px) {

    .Products {
        font-size: 10px;
        margin: 20px;
        background-color: rgb(255, 255, 255);
        border-bottom: black 2px solid;
        display: flex;
    }
}
.min{
    background-color: white;
    border: none;
}
.plus{
    border: none;
    background-color: white;
}