article {
  padding: 20px;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#Formtitel {
  line-height: 50px;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 60px;
  background-color: #EAEAEA;
  border-radius: 10px;
  line-height: 100%;
}

form {
  color: black;
  margin-bottom: 70px;
  padding: 20px;
  border-radius: 10px;
  width: 60%;
}

form label {
  margin-bottom: 10px;
  width: 1200px;
}

form input {
  color: black;
  background-color: #EAEAEA;
  width: 100%;
  height: 30px;
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 9px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#VerzendenBTN {
  height: 50px;
  align-items: center;
  justify-content: center;
  width: 90%;
  background-color: #EAEAEA;


}

#VerzendenBTN:hover {
  transition: 900ms;
  background-color: darkgreen;
  color: #EAEAEA;

}

#Invoer {
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 50px;
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
  color: black;
  background-color: #EAEAEA;
  box-sizing: border-box;
  resize: vertical;
}