.main-page{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1300px;
    margin: auto;
}

.main-page > .fiets{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    margin: 10px 10px;
    border-radius: 10px;
    min-width: 50px;
    width: 600px;
}

.fiets > img {
    max-width: 600px;
}
