
.Overons-page{
    flex-direction: row;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.items{
    background-color: #ffffff;
    margin: 10px 10px;
    border-radius: 10px;
    padding: 20px; 
}
#Historische-foto > img{ 
    max-width: 100vh; 
}
#tekst{
    width: 100vh;
    height: auto;

} 
@media only screen and (max-width: 1300px) {
    
    .Overons-page{
        flex-direction: column;
     
    }
    .items {
        width: 100vh;
    }
    #Historische-foto{
    width: min-content;
    width: auto;
    }
    #tekst{
        height: min-content;
        padding: 0;
        
    } 
}
@media only screen and (max-width: 780px) {
    #Historische-foto > img {
        max-width: 100%;  
        height: auto;     
    }
    #tekst {
        max-width: 100%;  
        height: auto;   
    } 

}
@media only screen and (max-width: 500px) {
    .items {
        flex-direction: column;
      
    }
    #Historische-foto > img {
        max-width: 100%;  
        height: auto;  
    }
    #tekst {
        height: min-content;
        width: auto;
    } 
}